@import '../../style/media-queries';
@import '../../style/vars';

.header--wrapper {
  background: url('../../assets/pregnant/john-looy-755994-unsplash.jpg') no-repeat center center;
  background-size: cover;

  height: 40vh;
  width: 100%;
  padding: 1.25rem;

  @include respond-above(md) {
    height: 55vh;
  }
}

h1 {
  // margin: 1.25rem 0 0 0;
  font-size: 1.875rem;
  color: $blue;
}
