@import '../../style/vars';
@import '../../style/media-queries';

.footer {
  &__contact {
    background: $blue;
    padding: 60px 20px 40px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond-above(md) {
      padding: 60px 60px 40px 60px;
    }
    p,
    h3 {
      text-align: center;
      color: #fff;
      margin: 0;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'Open Sans', Arial, sans-serif;
      a {
        font-size: inherit;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      color: #fff;
      font-size: 1.875rem;
      margin-top: 0.9375rem;
    }
  }
}
.footer__credits {
  //height: 30px;
  padding: 20px;

  background-color: darken($blue, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    text-align: center;
    font-style: italic;
    font-size: 0.8125rem;
    margin: 0;
    color: darken(#fff, 10%);
    a {
      color: darken(#fff, 10%);
      &:hover {
        color: darken(#fff, 10%);
        text-decoration: none;
      }
    }
  }
}
