@import '../../style/vars';
.footer {
  &__contact {
    background: $blue;
    // height: 20vh;
    padding: 3.75rem;
    width: 100%;
    // height: calc(60vh - 6.25rem);
    // margin: 0 3.125rem;
    // width: 100%;
    // padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p,
    h3 {
      text-align: center;
      color: #fff;
      margin: 0;
      line-height: 1.5;
      a {
        font-size: inherit;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      color: #fff;
      font-size: 1.25rem;
      margin-top: 0.9375rem;
    }
  }
}
