@import '../style/media-queries';

.hero--content {
  //   max-width: 50%;
  //   margin: auto;
  padding: 40px 35px;
  margin-top: -60px;
  background: #fff;

  @include respond-above(sm) {
    padding: 40px 60px;
  }

  h2 {
    color: rgba(217, 180, 165, 1);
  }
}
