.header--wrapper {
  background: url('../assets/bertil-47.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  width: 100%;
  padding: 20px;
}

.header--content {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  // background: rgba(179, 137, 120, 0.8);
  // background: rgba(217, 180, 165, 1);

  padding: 0 20px;

  h1 {
    margin: 3px 0 0 0;
    font-size: 30px;
    color: #fff;
  }
}
