@import '../../style/media-queries';
@import '../../style/vars';

.hero__content {
  padding: 30px 45px 60px 45px;

  margin-top: -100px;
  background: #fff;

  @include respond-above(md) {
    margin-top: -100px;
  }

  h2 {
    // color: rgba($pink, 1);
  }
}
