@import '../../style/media-queries';
@import '../../style/vars';

.hero__content {
  padding: 20px 35px;

  margin-top: -160px;
  background: #fff;

  @include respond-above(md) {
    margin-top: -60px;
  }

  h2 {
    color: rgba($pink, 1);
  }
}
