@import '../../style/media-queries';
@import '../../style/vars';

.hero__content {
  padding: 1.875rem 1.25rem 1.875rem 1.25rem;

  margin-top: -6.25rem;
  background: #fff;

  @include respond-above(xs) {
    margin-top: -3.25rem;
  }

  @include respond-above(sm) {
    margin-top: -6.25rem;
  }

  @include respond-above(md) {
    margin-top: -6.25rem;
    padding: 1.875rem 2.8125rem 3.75rem 2.8125rem;
  }
}
