@import '../../../style/media-queries';
@import '../../../style/vars';

.offer__card {
  height: 16.25rem;
  background: url('../../../assets/pregnant/IMG_7253.JPG') no-repeat center center;
  background-size: cover;
  width: 100%;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem;

  @include respond-above(sm) {
    margin-bottom: 0.3125rem;
  }

  a {
    width: 100%;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
  }

  &:hover,
  &:active {
    .offer__card__content {
      background: rgba(250, 250, 250, 0.85);
      transition: all 0.2s ease;
    }
  }
  &__content {
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: rgba(250, 250, 250, 0.65);
    padding: 1.25rem;
    width: 90%;
    height: 100%;
    text-align: center;

    h3 {
      font-size: 1.5625rem;
      font-family: 'Indie Flower', cursive;
    }
    p {
      font-size: 0.8125rem;
      margin-bottom: 0.3125rem;

      &:first-of-type {
        font-size: 0.9375rem;
      }
    }
    em {
      font-size: 0.8125rem;
    }
    span {
      color: $blue;
      text-decoration: underline;
      font-size: 0.875rem;
      &:hover {
        text-decoration: none;
      }
    }

    button.secondary {
      margin: 0;
    }
  }
  &--package {
    background: url('../../../assets/bertil-7.jpg') no-repeat center center;
    background-size: cover;
  }

  &--talk {
    background: url('../../../assets/h.jpg') no-repeat center center;
    background-size: cover;
  }
}
